.hero{
  min-height:80vh;
  max-height:90vh;
  height: fit-content;
}

  
.two{
  background-image: url(../img/img2.jpg);
  background-color: #ffffff99;
  background-blend-mode: lighten;
  background-attachment: fixed;
}
.category-card{
  height: 50vh;
}