.hero-main,
.my-gradient {
  background-image: linear-gradient(to top, #000, #00000044);
}
.app-btn1{
  padding: 12px 20px;
  color: initial;
  text-decoration: none;

}
.app-btn1:hover{
  color:initial;
}
.footer a{
  display: inline-block;
  color: inherit;
}
.recipe-card {
  box-shadow: 0 2px 20px #00000055;
  height: 40vh;
}

.recipe-card>div {
  background-image: linear-gradient(to top, #000, #00000000);
}

.recipe-card:hover {
  color: var(--c3);
  transform: scale(1.01);
  box-shadow: 0 2px 20px #000000cc;
}

.recipe-card:hover>div {
  background-image: linear-gradient(to top, #000, #00000000, #00000000);
}